<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shorten Url</title>
    <link rel="stylesheet" href="/style/style.css" />
    <link rel="stylesheet" href="/style/error.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include("header"); -%>

    <section class="error-section">
        <div class="container" >
            <h1>Oops!</h1>
            <div class="error-div">
                <h2>404 - PAGE NOT FOUND</h2>
                <p>The page you are looking for might have been removed had its name changed or its temporary unavailable.</p>
            </div>
            <a href="/" class="error-btn">
                <button>Go to Homepage</button>
            </a>
        </div>
    </section>
</body>
</html>