<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shorten Url</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="/style/error.css" />
</head>
<body>
    <%- include("./partials/header"); -%>

    <section class="error-section">
        <div class="container" >
            <h1>Oops!</h1>
            <div class="error-div">
                <h2>404 - PAGE NOT FOUND</h2>
                <p>The page you are looking for might have been removed had its name changed or its temporary unavailable.</p>
            </div>
            <a href="/" class="error-btn">
                <button>Go to Homepage</button>
            </a>
        </div>
    </section>
</body>
</html>