<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions</title>
    <link rel="stylesheet" href="/style/terms.css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
</head>

<body>
    <%- include('./partials/header'); -%>

    <section class="terms-page">
        <div class="container">
            <h1>Terms and Conditions</h1>
            <p>Welcome to Shorten URL! By using our service, you agree to abide by the following terms and conditions:</p>
            
            <h2>1. Acceptance of Terms</h2>
            <p>By accessing and using our website, you accept and agree to be bound by these Terms and Conditions.</p>
            
            <h2>2. Service Usage</h2>
            <p>You agree to use our service only for lawful purposes and not for any fraudulent or malicious activities.</p>
            
            <h2>3. User Responsibilities</h2>
            <p>You are responsible for the security and confidentiality of the links you create using our service.</p>
            
            <h2>4. Modification of Terms</h2>
            <p>We reserve the right to update these terms at any time. Continued use of our service constitutes acceptance of the new terms.</p>
            
            <h2>5. Contact Information</h2>
            <p>If you have any questions regarding these terms, please contact us at <a href="mailto:support@shortenurl.com">support@shortenurl.com</a>.</p>
        </div>
    </section>
</body>

</html>
